In [1]:
import pandas as pd
pd.options.display.max_rows = 4000

import numpy as np
import matplotlib.pyplot as plt
import random
import yfinance as yf
import csv

In [9]:
ko = pd.read_csv("KO_2000-2019.csv")

In [10]:
ko

,date,open,high,low,close,volume
0,2000-01-03 00:00:00,29.000000,29.000000,27.625000,28.187500,10997000.0
1,2000-01-04 00:00:00,28.187500,28.406250,27.812500,28.218750,7308000.0
2,2000-01-05 00:00:00,28.218750,28.718750,28.031250,28.468750,9457400.0
3,2000-01-06 00:00:00,28.468750,28.843750,28.281250,28.500000,7129200.0
4,2000-01-07 00:00:00,28.937500,30.375000,28.937500,30.375000,11474000.0
...,...,...,...,...,...,...
5025,2019-12-23 00:00:00,55.000000,55.240002,54.840000,54.910000,9300800.0
5026,2019-12-24 00:00:00,54.799999,55.000000,54.639999,54.709999,3359300.0
5027,2019-12-26 00:00:00,54.919998,55.020000,54.790001,55.020000,6228500.0
5028,2019-12-27 00:00:00,55.009998,55.450001,55.000000,55.349998,6895500.0
5029,2019-12-30 00:00:00,55.180000,55.389999,55.060001,55.270000,6431700.0

In [11]:
ko[ko['close'].isna()]

Empty DataFrame
Columns: [date, open, high, low, close, volume]
Index: []

# All stocks

In [5]:
# Current Dow Jones Index (DJI) list of companies (30)

    # 3M - MMM
    # American Express - AXP
    # Amgen - AMGN
    # Apple - AAPL
    # Boeing - BA
    # Caterpillar - CAT
    # Chevron - CVX
    # Cisco - CSCO
    # Coca-Cola - KO
    # Dow - DOW
    # Goldman Sachs - GS
    # Home Depot - HD
    # Honeywell - HON
    # IBM - IBM
    # Intel - INTC
    # Johnson & Johnson - JNJ
    # JPMorgan Chase - JPM
    # McDonalds - MCD
    # Merck - MRK
    # Microsoft - MSFT
    # Nike - NKE
    # Procter & Gamble - PG
    # Salesforce - CRM
    # Travelers - TRV
    # UnitedHealth - UNH
    # Verizon - VZ
    # Visa - V
    # Walgreens Boots Alliance - WBA
    # Walmart - WMT
    # Walt Disney - DIS

In [6]:
tickers = ["MMM","AXP","AMGN","AAPL","BA","CAT","CVX","CSCO","KO","DOW","GS","HD","HON","IBM","INTC","JNJ","JPM","MCD","MRK","MSFT","NKE","PG","CRM","TRV","UNH","VZ","V","WBA","WMT","DIS"]

# Training data (2000-2019)

In [7]:
for tckt in tickers:
    data = yf.download(tckt, start="2000-01-01", end="2019-12-31")
    data = data.reset_index()
    data = data.dropna()

    filename = tckt + "_2000-2019.csv"

    with open(filename, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["date", "open", "high", "low", "close", "volume"])
        writer.writerows(zip(data.Date, data.Open, data.High, data.Low, data.Close, data.Volume))
        file.close()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

# Training data (2020)

In [8]:
for tckt in tickers:
    data = yf.download(tckt, start="2020-01-01", end="2020-12-31")
    data = data.reset_index()
    data = data.dropna()
    
    filename = tckt + "_2020.csv"

    with open(filename, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["date", "open", "high", "low", "close", "volume"])
        writer.writerows(zip(data.Date, data.Open, data.High, data.Low, data.Close, data.Volume))
        file.close()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed