In [2]:
import csv
import pandas as pd
import yfinance as yf

In [3]:
tckt = "AAPL"
data = yf.download(tckt, start="2000-01-01", end="2020-01-01")

[*********************100%***********************]  1 of 1 completed

In [7]:
data = data.reset_index()

In [18]:
for i in range(len(data)):
    data.Open.loc[i] = i+0.75
    data.Low.loc[i] = i+0.5
    data.High.loc[i] = i+1
    data.Close.loc[i] = i+2
    data.Volume.loc[i] = 1000000

/opt/miniconda3/envs/ds/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [19]:
data

           Date     Open    High     Low   Close  Adj Close   Volume
0    2000-01-03     0.75     1.0     0.5     2.0   0.860883  1000000
1    2000-01-04     1.75     2.0     1.5     3.0   0.788302  1000000
2    2000-01-05     2.75     3.0     2.5     4.0   0.799837  1000000
3    2000-01-06     3.75     4.0     3.5     5.0   0.730621  1000000
4    2000-01-07     4.75     5.0     4.5     6.0   0.765229  1000000
...         ...      ...     ...     ...     ...        ...      ...
5026 2019-12-24  5026.75  5027.0  5026.5  5028.0  70.353882  1000000
5027 2019-12-26  5027.75  5028.0  5027.5  5029.0  71.749733  1000000
5028 2019-12-27  5028.75  5029.0  5028.5  5030.0  71.722488  1000000
5029 2019-12-30  5029.75  5030.0  5029.5  5031.0  72.148178  1000000
5030 2019-12-31  5030.75  5031.0  5030.5  5032.0  72.675339  1000000

[5031 rows x 7 columns]

In [20]:
filename = "Artificial.csv"

with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["date", "open", "high", "low", "close", "volume"])
    writer.writerows(zip(data.Date, data.Open, data.High, data.Low, data.Close, data.Volume))
    file.close()